/* スマホだけ50%縮小する */
@media (max-width: 600px) {
  .scale-50 {
    transform: scale(0.5);
    transform-origin: top left;
    width: 200%;
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  /* スクロールを無効化していたため修正 */
  overflow: auto;
}

/* 親要素に高さを固定すると子のスクロールが抑制されるため min-height に変更 */
body > div {
  min-height: 100%;
}