/* スマホだけ50%縮小する */
@media (max-width: 600px) {
  .scale-50 {
    transform: scale(0.5);
    transform-origin: top left;
    width: 200%;
  }
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body > div {
  height: 100%;
}